$primary-background: #080808;
$secondary-background: #444df7c4;
$tertiary-background: #2b2b2e52;
$quaternary-background: #1111128b;

$primary-foreground: #ffffff;
$secondary-foreground: #eeeeee;
$tertiary-foreground: #FAFAD2;
$quaternary-foreground: #e8c400;

$fh-link-hover: #e7e7e7;
$btn-hover: #19191a8b;
$nav-border: #cccccc21;

$sb-track: #080808;
$sb-thumb: #e8c400;